.TextBox {
  display: flex;
}
.blink {
  animation: blink 1s infinite;
  margin-left: 10px;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.ul {
  display: flex;
  align-items: flex-end;
  position: fixed;
  padding: 0 0 20px 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: black;
}
.ul > .li {
  margin-right: 10px;
}
