.TextBox {
  display: flex;
}
.blink {
  animation: blink 1s infinite;
  margin-left: 10px;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.ul {
  display: flex;
  align-items: flex-end;
  position: fixed;
  padding: 0 0 20px 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: black;
}
.ul > .li {
  margin-right: 10px;
}

.Trailer_Layout {
  display: flex;
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.Trailer_ul {
  display: flex;
  position: absolute;
  top: 0;
}
.Box {
  width: 48vw;
  height: 30vw;
  background-color: black;
  border-radius: 20px;
  margin: 20px;
}

.Slider_Layout {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.Slider {
  width: 100%;
  height: 32vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Slider_Contents {
  position: relative;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  width: 48vw;
  height: 30vw;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e_ticketTxt {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
}
