.TextBox {
  display: flex;
}
.blink {
  animation: blink 1s infinite;
  margin-left: 10px;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.ul {
  display: flex;
  position: fixed;
  top: 10%;
  left: 5%;
}
.ul > .li {
  margin-right: 10px;
}
