.Intro_Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - var(--r-localnav-height) - var(--r-globalnav-height));
}
.Intro_Section1 {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Who_is_seHoon {
  margin-top: 50px;
  font-size: 8rem;
  font-weight: bold;
}
.Intro_Section2 {
  margin-top: 10%;
}

.main2_Hello {
  background-color: #0e0e0e;
  padding-top: 10%;
  font-size: 54px;
  font-weight: bold;
  line-height: 2;
  overflow: hidden;
  margin: 0 10%;
}
.main2_subTxt {
  font-size: 38px;
  text-align: end;
}
